/*styles*/
ul {list-style: none;}
a, a:visited {color: #5a5a5a; text-decoration: none;}

body {background-color: whitesmoke; font-family: sans-serif; color: #5a5a5a;}

#salary-list { margin: 0 auto; display: block; }

/*.search { 
  border: none; 
  border-bottom: 1px solid #5a5a5a; 
  outline: none;
  background-color: whitesmoke;
  font-size: 1.2em;
  width: 90%;
  margin: .5em 1em;
  }
*/
#salary_list ul a {display: block;}
#salary_list ul a:hover, #salary_list ul a.active {background: yellow;}

@media screen and (min-width : 768px) {
  #salary_list {
    width: 50%;
  }
}

.modal {
  padding: 1em;
  border: 1px solid #e6e6e6;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 75%;
  height: 50%;
}

.modal .close {float: right;}