 <!DOCTYPE=html>
<head>
  <meta charset="UTF-8">
  <title>Salaries Test</title>
  <link rel="stylesheet" href="js/libs/slider/6.2.0/jquery.nouislider.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

<div id="salary-list">
</div>

<div id="modal">
</div>

<script id="itemElement" type="text/template">
  <a href="#">
    <p><%= POSITION %></p>
  </a>
</script>

<script id="modalElement" type="text/template">
  <a href="#" class="close">close</a>
  <p><%= POSITION %></p>
  <p><%= LOW %>-<%= HIGH %></p>

  <div id="range-slider"></a>

</script>
  
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="js/libs/slider/6.2.0/jquery.nouislider.min.js"></script>
<script type="text/javascript" src="js/libs/underscore.js"></script>
<script type="text/javascript" src="js/libs/backbone.min.js"></script>
<script type="text/javascript" src="js/models/singleListItemModel.js"></script>
<script type="text/javascript" src="js/collections/allListItems.js"></script>
<script type="text/javascript" src="js/views/modalView.js"></script>
<script type="text/javascript" src="js/views/singleItemView.js"></script>
<script type="text/javascript" src="js/views/allItems.js"></script>
<script type="text/javascript" src="js/salaryApp.js"></script>

<script>
  
</script>
</body>
</html>